/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --main-transition:.5s;
}
body {
  background: linear-gradient(to bottom,#A1FFCE,#FAFFD1);
  font-family: 'Cairo', sans-serif;
  color: rgb(9, 65, 43);
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* meduim screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start header */
header{
  text-align: center;
  padding: 18px;
  font-size: 25px;
  color: #000;
 animation: letter 7s infinite linear;
}
@keyframes letter {
  0%,100%{
letter-spacing: 0.5px;
  }
  50%{
letter-spacing: 4px;
font-weight: 600;
  }
}
/* end header */
/* start main-container */
.main-container{
  width: 100%;
  height: calc(100vh - 152.8px);
    position: relative;
}
/* end main-container */
/* start main */
main {
  position: absolute;
  top: 50%;
  left: 50%;
    width: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: cursive;
  border-radius: 20px;
  padding: 50px 0;
  box-shadow: 0 0 20px rgba(54, 122, 88, 0.685);
  transition: var(--main-transition);
}
main:hover{
  box-shadow: unset;
}
@media (max-width: 767px) {
  main {
    width: 90%;
  }
}

@media (max-width: 300px) {
  main {
    width: 100%;
  }
}
main .container{
  width: 100%;
}
/* start article */
main article {
  width: 60%;
  min-width: 245px;
  background-color: #78ffd6;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(0 0 0 / 45%);
  animation: gradient 7s infinite linear;
  transition: var(--main-transition);
}
main article:hover{
  box-shadow: unset;
}
@keyframes gradient {
  0%,100%{
   background-color:#78ffd6 ;
  }
  30%{
    background-color: #a8ff78;
  }
  60%{
    background-color: #78d4ffe5;
  }
}
.art1 {
  margin: 0 auto 30px;
  font-size: 37px;
  padding: 15px 20px;
}

.art2 {
  width: 50%;
  margin: 0 auto;
  font-size: 27px;
  padding: 10px;
}
@media (max-width:767px) {
  .art2{
    font-size: 24px;
  }
}
#hours::after,#minutes::after{
  content: ":";
  margin-left: 10px;
  font-weight: bold;
  }
  #days::after,#months::after{
    content: "-";
    margin-left: 5px;
    font-weight: bold;
  }
/* end article */
footer{
  text-align: center;
  padding: 18px;
  font-size: 18px;
  color: #000;
  /* margin-top: 100px; */
}
footer a{
  display: inline-block;
  text-decoration: none;
  color: rgb(9, 65, 43);
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  font-family: cursive;
 animation: myname 3s infinite linear;
}
@keyframes myname {
  0%,100%{
    color: rgb(9, 65, 43);
 opacity: 1;
  }
  50%{
    color: rgb(44, 142, 175);
opacity: 0.5;
  }
}
/* end main */
